.dishes {
    &__hero {
        background-image: url(../images/bg-dishes.jpg);
        /* додали картинку */
        
        background-repeat: no-repeat;
        /* властивість щоб картинка не повторялась */
        background-size: cover;
        /* властивість щоб картинка займала весь простір */
        background-position: 50% 50%;
    }

    &__wrap {
        display: flex;
        align-items: center;
        margin: -15px;
    }


    &__card {
        padding: 15px;
        text-align: center;
        width: 33.33%;

    }  
    
    &__img  {
        width: 287px;
        height: 287px; 
        object-fit: cover;
        border-radius: 50%;
 
    }

    &__text {
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #fff;
        margin-top: 40px;
    }
}

