@media (max-width: 425px) {
    .header {

        &__logo-img {
            max-width: 111px;
            max-height: 56px;
            margin-right: 59px;
        }

        &__social-item:nth-child(2) {
            display: none;
        }

        &__social-item {
            margin-right: 20px;
        }

        &__btn-menu {
            display: block;
            width: 30px;
            height: 30px;
            position: relative;
            flex-shrink: 0;
            margin-left: 20px;
        }

        &__line {
            width: 100%;
            height: 3px;
            background-color: #fff;
            border-radius: 2px;
            position: absolute;
            left: 0;
            transition: 0.3s;
        }

        &__line:nth-child(1) {
            top: 0;
        }

        &__line:nth-child(2) {
            top: 9px;
        }

        &__line:nth-child(3) {
            top: 18px;
        }

        &__btn-menu--open.header__line:nth-child(1) {
            transform: rotate(45deg);
            top: 9px;
        }

        &__btn-menu--open .header__line:nth-child(2) {
            display: none;
        }

        &__btn-menu--open .header__line:nth-child(3) {
            transform: rotate(-45deg);
            top: 9px;
        }

        &__nav--open {
            display: block;
            position: absolute;
            right: 0;
            bottom: calc(100% - 210px);
            background-color: #000;
            border-radius: 5px;
        }

        &__list {
            display: block;
            min-width: 140px;
        }

        &__item {
            padding: 0;
        }

        &__link {
            display: block;
            padding: 4px 15px;
        }
    }
}