@media (max-width: 375px) {
    .header {

        &__logo-img {
            max-width: 91px;
            max-height: 40px;
            margin-right: 85px;
        }

        &__btn-menu {
            margin-left: 15px;
        }

        &__social-item {
            margin-right: 10px;

        }
    }

}