@media (max-width: 375px)  {
    .hero {
        &__caption {
            font-size: 25px;
            line-height: 30px;
            font-weight: 700;
            color: #fff;
            text-align: center;
            max-width: 300px;
            margin-bottom: 20px;  
        }

        &__desc {
            margin-bottom: 20px;
            color: #FFFFFF;
            max-width: 300px;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            text-align: center;
        }

        &__box {
            max-width: 320px;
        }
    }
}